@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montez&display=swap');



.text-content, .reasons-content {
    display: flex;
    flex-direction: column;

    justify-content: center;

    font-family: 'Montez', cursive;
    font-optical-sizing: auto;
    font-style: normal;

    padding: 0 10%;

    background: black;
    color: white;
}

.intro-text {
    color: blue;
    margin: 50px 0 0 0;
    color: white;

}

.body1 {
    margin: 15px 0 ;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;

}

.slider-wrapper {
    background: black;
}

.button-wrapper {
    background: black;
    padding: 30px 0;
}

.button {
    width: 150px;
    height: 30px;
    border: none;
    color: black;
    background: white;
    font-family: 'Montez', cursive;
    border-radius: 5px;
}

.link {
    text-decoration: none;
    color: inherit;
}
